# Server
PORT=5000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=jobpilot_db
DB_USER=kaji
DB_PASSWORD=kaji123

# JWT
JWT_SECRET=jobpilot_secret_dev_123
JWT_EXPIRES_IN=7d

# Email (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=jobpilot3@gmail.com
SMTP_PASSWORD=your_gmail_app_password